* {
  margin: 0px;
  padding: 0px;
}

.seccion-login {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.seccion-login .contenedor-form {
  position: relative;
  background: #59626b 50%;
  width: 100%;
  max-width: 500px;
  margin: 48px auto;
  color: #ffffff;
  border-radius: 5px;
  font-family: "Open Sans", sans-serif;
}

.seccion-login .contenedor-form h2 {
  margin: 0 0 28px 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 1px;
}

.seccion-login .contenedor-form .input-user,
.seccion-login .contenedor-form .input-pass-log {
  outline: none;
  background: rgba(0, 0, 0, 0.5);
  display: block;
  width: 100%;
  padding: 10px 15px;
  color: #ffffff;
  border: none;
  border-radius: 2px;
  border-bottom: 4px solid #072f63;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  margin: 0px 0px 20px -14px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.seccion-login .contenedor-form .input-user:focus,
.seccion-login .contenedor-form .input-pass-log:focus {
  border-bottom: 4px solid #0366fa;
}

.seccion-login .contenedor-form .input-login-btn {
  background: #072f63;
  color: #ffffff;
  border: none;
  width: 100%;
  padding: 10px 0px;
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1px;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.seccion-login .contenedor-form .input-login-btn:hover {
  background: #0366fa;
}

.seccion-login .contenedor-form .formulario {
  padding: 40px;
}

.header {
  width: 100%;
  height: 100px;
  background: #246355;
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .logo {
  width: 95.1px;
  height: 83.1px;
  margin-top: 9px;
  margin-left: 2.2%;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  cursor: pointer;
}

.header .menu .lista {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  margin-top: 33px;
}

.header .menu .lista .li-contactos,
.header .menu .lista .li-companias,
.header .menu .lista .li-usuarios,
.header .menu .lista .li-region {
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  font-size: 21px;
  padding-right: 55px;
  list-style: none;
}

.header .menu .lista .li-contactos .a-contactos,
.header .menu .lista .li-contactos .a-companias,
.header .menu .lista .li-contactos .a-usuarios,
.header .menu .lista .li-contactos .a-region,
.header .menu .lista .li-companias .a-contactos,
.header .menu .lista .li-companias .a-companias,
.header .menu .lista .li-companias .a-usuarios,
.header .menu .lista .li-companias .a-region,
.header .menu .lista .li-usuarios .a-contactos,
.header .menu .lista .li-usuarios .a-companias,
.header .menu .lista .li-usuarios .a-usuarios,
.header .menu .lista .li-usuarios .a-region,
.header .menu .lista .li-region .a-contactos,
.header .menu .lista .li-region .a-companias,
.header .menu .lista .li-region .a-usuarios,
.header .menu .lista .li-region .a-region {
  color: #ffffff;
  text-decoration: none;
  height: 39px;
  display: inline-block;
  cursor: pointer;
}

.header .menu .lista .li-contactos .a-contactos:hover,
.header .menu .lista .li-contactos .a-companias:hover,
.header .menu .lista .li-contactos .a-usuarios:hover,
.header .menu .lista .li-contactos .a-region:hover,
.header .menu .lista .li-companias .a-contactos:hover,
.header .menu .lista .li-companias .a-companias:hover,
.header .menu .lista .li-companias .a-usuarios:hover,
.header .menu .lista .li-companias .a-region:hover,
.header .menu .lista .li-usuarios .a-contactos:hover,
.header .menu .lista .li-usuarios .a-companias:hover,
.header .menu .lista .li-usuarios .a-usuarios:hover,
.header .menu .lista .li-usuarios .a-region:hover,
.header .menu .lista .li-region .a-contactos:hover,
.header .menu .lista .li-region .a-companias:hover,
.header .menu .lista .li-region .a-usuarios:hover,
.header .menu .lista .li-region .a-region:hover {
  border-bottom: 5px solid #01b36e;
  font-weight: bold;
}

.seccion-contactos {
  width: 100%;
  margin: auto;
}

.seccion-contactos .tituloContactos {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 50px;
  margin: auto;
  width: 216px;
}

.seccion-contactos .tablaContactos {
  background: #59626b;
  border-collapse: collapse;
  color: #ffffff;
  margin-top: 10px;
  text-align: left;
  width: 100%;
}

.seccion-contactos .tablaContactos th {
  border: solid 1px black;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  padding: 20px;
}

.seccion-contactos .tablaContactos td {
  border: solid 1px black;
  font-family: "Poppins", sans-serif;
  padding: 20px;
}

.seccion-contactos .tablaContactos thead {
  background: #246355;
  border-bottom: 5px solid #0f362d;
}

.seccion-contactos .tablaContactos tr:nth-child(even) {
  background: #a0a0a0;
}

.seccion-contactos .tablaContactos tr:hover {
  background: #369681;
  color: white;
}

.seccion-contactos .btn-editar {
  border-radius: 5px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  float: right;
  padding: 10px;
  margin: 10px 10px;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.seccion-contactos .btn-editar:hover {
  color: white;
  background: #369681;
}

.ventana {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ventana .popUp-editar {
  background: #f8f8f8;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  padding: 20px;
  width: 600px;
}

.ventana .popUp-editar .titulo-editar-contactos {
  font-size: 26px;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  margin-bottom: 40px;
  color: #0f362d;
}

.ventana .popUp-editar .contenedor-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.ventana .popUp-editar .contenedor-input .input-editar {
  width: 100%;
  margin-bottom: 20px;
  height: 38px;
  line-height: 52px;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  border: 1px solid #BBBBBB;
}

.ventana .popUp-editar .contenedor-input .label-editar {
  color: #0f362d;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 5px;
}

.ventana .popUp-editar .btn-confirmar-editar {
  border-radius: 5px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  float: right;
  padding: 10px;
  margin: 10px 10px;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.ventana .popUp-editar .btn-confirmar-editar:hover {
  color: white;
  background: #369681;
}

.ventana .popUp-editar #btn-cerrar {
  float: right;
  font-size: 20px;
  position: relative;
  bottom: 70px;
  color: #0f362d;
  cursor: pointer;
}

.seccion-companias {
  width: 100%;
}

.seccion-companias .tituloCompanias {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 50px;
  margin: auto;
  width: 216px;
}

.seccion-companias .tablaCompanias {
  background: #59626b;
  border-collapse: collapse;
  color: #ffffff;
  margin-top: 10px;
  text-align: left;
  width: 100%;
}

.seccion-companias .tablaCompanias th {
  border: solid 1px black;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  padding: 20px;
}

.seccion-companias .tablaCompanias td {
  border: solid 1px black;
  font-family: "Poppins", sans-serif;
  padding: 20px;
}

.seccion-companias .tablaCompanias thead {
  background: #246355;
  border-bottom: 5px solid #0f362d;
}

.seccion-companias .tablaCompanias tr:nth-child(even) {
  background: #a0a0a0;
}

.seccion-companias .tablaCompanias tr:hover {
  background: #369681;
  color: white;
}

.seccion-companias .btn-editar {
  border-radius: 5px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  float: right;
  padding: 10px;
  margin: 10px 10px;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.seccion-companias .btn-editar:hover {
  color: white;
  background: #369681;
}

.ventana {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ventana .popUp-editar {
  background: #f8f8f8;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  padding: 20px;
  width: 600px;
}

.ventana .popUp-editar .titulo-editar-compania {
  font-size: 26px;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  margin-bottom: 40px;
  color: #0f362d;
}

.ventana .popUp-editar .contenedor-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.ventana .popUp-editar .contenedor-input .input-editar {
  width: 100%;
  margin-bottom: 20px;
  height: 38px;
  line-height: 52px;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  border: 1px solid #BBBBBB;
}

.ventana .popUp-editar .contenedor-input .label-editar {
  color: #0f362d;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 5px;
}

.ventana .popUp-editar .btn-confirmar-editar {
  border-radius: 5px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  float: right;
  padding: 10px;
  margin: 10px 10px;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.ventana .popUp-editar .btn-confirmar-editar:hover {
  color: white;
  background: #369681;
}

.ventana .popUp-editar #btn-cerrar-editar-compania {
  float: right;
  font-size: 20px;
  position: relative;
  bottom: 70px;
  color: #0f362d;
  cursor: pointer;
}

#btn-cerrar-editar-usuario {
  float: right;
  font-size: 20px;
  position: relative;
  bottom: 70px;
  color: #0f362d;
  cursor: pointer;
}

.search-section {
  display: none;
}

.search-section .div-title {
  width: 118.7px;
  height: auto;
  margin-top: 39.6px;
  margin-left: 29.4px;
}

.search-section .div-title .title {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.search-section .form {
  width: 552px;
  height: auto;
}

.search-section .form .search-input {
  width: 502px;
  height: 41px;
  margin-top: 20.3px;
  margin-left: 29.5px;
  border: 1px solid #cccccc;
  border-radius: 3.5px;
}

.search-section .form .conteiner-arrow {
  color: rgba(0, 0, 0, 0.54);
  margin-left: -31px;
  cursor: pointer;
}

.search-section .form .conteiner-iconSearch {
  width: 41px;
  height: 41px;
  border: #00000038 1px solid;
  border-radius: 3.5px;
  margin-left: 98%;
  margin-top: -43px;
  cursor: pointer;
}

.search-section .form .conteiner-iconSearch #icon-search {
  width: 17.5px;
  height: 17.5px;
  color: #0683f9;
  margin-left: 13px;
  margin-top: 13px;
}

.div-conteiner {
  width: 503px;
  height: 375px;
  border: 1px solid #cccccc;
  border-radius: 2px;
  margin-left: 29.4px;
  margin-top: 4.5px;
  display: none;
}

.div-conteiner .div-name-contact {
  margin-left: 17.2px;
  margin-top: 23.9px;
}

.div-conteiner .div-name-contact .name-contact {
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
}

.div-conteiner .div-name-contact .input-name {
  width: 312px;
  margin-left: 36.5px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  font-size: 10px;
}

.div-conteiner .div-cargo {
  margin-left: 17.2px;
  margin-top: 23.9px;
}

.div-conteiner .div-cargo .contact-cargo {
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
}

.div-conteiner .div-cargo .input-cargo {
  width: 312px;
  margin-left: 107.5px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  font-size: 10px;
}

.div-conteiner .div-pais-region {
  margin-left: 17.2px;
  margin-top: 23.9px;
}

.div-conteiner .div-pais-region .name-pais-region {
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
}

.div-conteiner .div-pais-region .input-pais-region {
  width: 190px;
  height: 35.5px;
  margin-left: 79.9px;
  font-size: 10px;
  border: 1px solid #cccccc;
  border-radius: 2px;
}

.div-conteiner .div-pais-region .conteiner-icon {
  margin-left: -22px;
  cursor: pointer;
}

.div-conteiner .div-pais-region .conteiner-icon #arrow-icon {
  width: 10px;
  height: 5px;
  color: rgba(0, 0, 0, 0.54);
}

.div-conteiner .div-compania {
  margin-left: 17.2px;
  margin-top: 23.9px;
}

.div-conteiner .div-compania .name-compania {
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
}

.div-conteiner .div-compania .input-compania {
  width: 190px;
  height: 35.5px;
  margin-left: 87.9px;
  font-size: 10px;
  border: 1px solid #cccccc;
  border-radius: 2px;
}

.div-conteiner .div-compania .conteiner-icon-compania {
  margin-left: -22px;
  cursor: pointer;
}

.div-conteiner .div-compania .conteiner-icon-compania #arrow-icon-compania {
  width: 10px;
  height: 5px;
  color: rgba(0, 0, 0, 0.54);
}

.div-conteiner .div-canal-fav {
  margin-left: 17.2px;
  margin-top: 23.9px;
}

.div-conteiner .div-canal-fav .name-canal-fav {
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
}

.div-conteiner .div-canal-fav .input-canal-fav {
  width: 190px;
  height: 35.5px;
  margin-left: 69.9px;
  font-size: 10px;
  border: 1px solid #cccccc;
  border-radius: 2px;
}

.div-conteiner .div-canal-fav .conteiner-icon-canal-fav {
  margin-left: -22px;
  cursor: pointer;
}

.div-conteiner .div-canal-fav .conteiner-icon-canal-fav #arrow-icon-canal-fav {
  width: 10px;
  height: 5px;
  color: rgba(0, 0, 0, 0.54);
}

.div-conteiner .div-interes {
  margin-left: 17.2px;
  margin-top: 23.9px;
}

.div-conteiner .div-interes .name-interes {
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
}

.div-conteiner .div-interes .input-interes {
  width: 190px;
  height: 35.5px;
  margin-left: 104.9px;
  font-size: 10px;
  border: 1px solid #cccccc;
  border-radius: 2px;
}

.div-conteiner .div-interes .conteiner-icon-interes {
  margin-left: -22px;
  cursor: pointer;
}

.div-conteiner .div-interes .conteiner-icon-interes #arrow-icon-interes {
  width: 10px;
  height: 5px;
  color: rgba(0, 0, 0, 0.54);
}

.export-btn {
  width: 41px;
  height: 41px;
  border: 1px solid #1d72c2;
  border-radius: 3.5px;
  float: right;
  margin: -42px 8.5px;
}

.export-contactos {
  width: 172px;
  height: 41px;
  border: 1px solid #1d72c2;
  border-radius: 3.5px;
  float: right;
  margin-top: -42px;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  line-height: 2.4;
  color: #1d72c2;
  cursor: pointer;
}

.export-contactos i {
  line-height: 2.2;
  color: #1d72c2;
}

.add-contactos {
  width: 172px;
  height: 41px;
  border: 1px solid #1d72c2;
  border-radius: 3.5px;
  float: right;
  margin: -42px 28px 0px 8.5px;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 2.4;
  background: #1d72c2;
  color: #ffffff;
  cursor: pointer;
}

.conteiner-exportar {
  width: 34%;
  height: auto;
  float: right;
}

.conteiner-exportar .desplegar-exportar {
  width: 173px;
  height: 112px;
  background: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 2px;
  margin: 4px -175px;
  float: right;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #1d72c2;
  display: none;
}

.conteiner-exportar .desplegar-exportar .div-seleccionados {
  margin-top: 20px;
  margin-left: 11px;
}

.conteiner-exportar .desplegar-exportar .div-filtrados {
  margin-top: 26px;
  margin-left: 11px;
}

.new-contact-section {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 1;
}

.new-contact-section .fondo-pop-up {
  width: 1215px;
  height: 577px;
  background: #ffffff;
  margin: auto;
}

.new-contact-section .fondo-pop-up .header-azul {
  width: 1215px;
  height: 140px;
  background: #1d72c2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
}

.new-contact-section .fondo-pop-up .header-azul .titulo-nuevo-contacto {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  color: #ffffff;
  margin-top: 20.7px;
  margin-left: 31.8px;
  margin-bottom: 98.8px;
}

.new-contact-section .fondo-pop-up .header-azul #close-icon {
  width: 14px;
  height: 14px;
  color: #ffffff;
  margin-right: 35px;
  margin-top: 35px;
}

.new-contact-section .fondo-pop-up .data-input {
  width: 1172px;
  height: 131px;
  background: #ffffff;
  border-radius: 8px;
  border: 4px solid #0683f9;
  margin: auto;
  margin-top: -69px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.new-contact-section .fondo-pop-up .data-input .foto {
  width: 85px;
  height: 84px;
  background: rgba(0, 0, 0, 0.05);
  border: 2px solid #0683f9;
  border-radius: 50%;
  margin-top: 20px;
}

.new-contact-section .fondo-pop-up .data-input .foto #user-icon {
  font-size: 43px;
  color: #0683f9;
  line-height: 2;
  margin-left: 24px;
}

.new-contact-section .fondo-pop-up .data-input .foto .camera-conteiner {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  background: #0683f9;
  float: right;
  margin-top: -23px;
}

.new-contact-section .fondo-pop-up .data-input .foto .camera-conteiner #camera-icon {
  font-size: 10px;
  color: #ffffff;
  margin: 5px;
}

.new-contact-section .fondo-pop-up .data-input .datos {
  width: 190px;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: #333333;
  margin-top: 30px;
}

.new-contact-section .fondo-pop-up .data-input .datos span {
  color: red;
}

.new-contact-section .fondo-pop-up .data-input .datos .input-datos {
  width: 190px;
  height: 35.5px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  font-size: 12px;
}

.new-contact-section .adicional-data-contacto {
  width: 862px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.new-contact-section .adicional-data-contacto .datos {
  width: 190px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #333333;
  margin-top: 30px;
}

.new-contact-section .adicional-data-contacto .datos .input-datos {
  width: 190px;
  height: 35.5px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  font-size: 12px;
  background: #cccccc;
}

.new-contact-section .adicional-data-contactos-2 {
  width: 1000px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.new-contact-section .adicional-data-contactos-2 .div-contenedor-data-2 {
  width: 1000px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.new-contact-section .adicional-data-contactos-2 .div-contenedor-data-2 .datos {
  width: 190px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #333333;
  margin-top: 30px;
  margin-left: 21px;
}

.new-contact-section .adicional-data-contactos-2 .div-contenedor-data-2 .datos .input-datos {
  width: 190px;
  height: 35.5px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  font-size: 12px;
}

.new-contact-section .btn-agregar-canal {
  width: 143px;
  height: 34px;
  border-radius: 1.5px;
  margin-top: 50px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #ffffff;
  line-height: 2.3;
  text-align: center;
  background: #1d72c2;
  cursor: pointer;
  margin-left: 21px;
}

.new-contact-section .btn-agregar-canal #plus-icon {
  font-size: 18px;
}

.new-contact-section .btns-guardar-cancelar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  float: right;
  margin: 108.5px 30px 30px;
}

.new-contact-section .btns-guardar-cancelar .btn-cancelar {
  font-family: "Open Sans", sans-serif;
  opacity: 0.8;
  line-height: 2.5;
  margin-right: 21.1px;
}

.new-contact-section .btns-guardar-cancelar .btn-guardar-contacto {
  font-family: "Open Sans", sans-serif;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  width: 173px;
  height: 42px;
  color: #ffffff;
  line-height: 2.5;
  text-align: center;
}

.new-contact-section .adicional-data-contactos-3 {
  width: 100%;
  height: auto;
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.new-contact-section .adicional-data-contactos-3 .datos {
  width: 190px;
  height: 35.5px;
  margin-top: 30px;
}

.new-contact-section .adicional-data-contactos-3 .datos .input-datos {
  width: 190px;
  height: 35.5px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  font-size: 12px;
  margin-left: -5px;
}

.new-contact-section .adicional-data-contactos-3 .edit-canal {
  width: 143px;
  height: 34px;
  border-radius: 1.5px;
  border: 2px solid #1d72c2;
  margin-top: 30px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #0683f9;
  line-height: 2.3;
  text-align: center;
  background: #ffffff;
  margin-left: -11px;
  cursor: pointer;
}

.new-contact-section .adicional-data-contactos-3 .edit-canal #pencil-icon {
  margin-left: 5px;
}

.new-contact-section .adicional-data-contactos-3 .delete-canal {
  width: 143px;
  height: 34px;
  border-radius: 1.5px;
  border: 2px solid #cccccc;
  margin-top: 30px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #cccccc;
  line-height: 2.3;
  text-align: center;
  background: #ffffff;
  cursor: pointer;
}

.regiones-section {
  width: 100%;
  height: auto;
  display: none;
}

.regiones-section .btn-agregar-region {
  width: 120px;
  height: 60px;
  background-color: black;
  color: white;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  border-radius: 10px;
  line-height: 2.9;
  margin-left: 76.63%;
  padding-left: 32px;
  cursor: pointer;
}

.regiones-section .title-regiones {
  font-family: "Open Sans", sans-serif;
  font-size: 50px;
  font-weight: bold;
  margin-left: 43%;
}

.regiones-section .regiones-conteiner {
  width: 70%;
  height: 70px;
  border: 3px solid black;
  border-radius: 10px;
  -webkit-box-shadow: black;
          box-shadow: black;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin: 30px auto 30px;
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 3.5;
  -webkit-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
}

.regiones-section .regiones-conteiner:hover {
  width: 73%;
  height: 73px;
}

.regiones-section .regiones-conteiner input {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 20px;
  border: none;
}

.regiones-section .regiones-conteiner .input-texto {
  text-decoration: none;
  border: none;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

.regiones-section .regiones-conteiner .conteiner-icons {
  width: 170px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 27px 8px;
  cursor: pointer;
}

.regiones-section .regiones-conteiner .conteiner-icons .fa-sort-down {
  font-size: 20px;
  -webkit-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
}

.regiones-section .regiones-conteiner .conteiner-icons .fa-sort-down:hover {
  font-size: 23px;
  color: blue;
}

.regiones-section .regiones-conteiner .conteiner-icons .fa-trash {
  font-size: 20px;
  -webkit-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
}

.regiones-section .regiones-conteiner .conteiner-icons .fa-trash:hover {
  font-size: 23px;
  color: blue;
}

.regiones-section .regiones-conteiner .conteiner-icons .fa-edit {
  font-size: 20px;
  -webkit-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
}

.regiones-section .regiones-conteiner .conteiner-icons .fa-edit:hover {
  font-size: 23px;
  color: blue;
}

.regiones-section .regiones-conteiner .conteiner-icons .fa-check-circle {
  display: none;
  font-size: 20px;
  -webkit-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
  color: green;
}

.regiones-section .regiones-conteiner .conteiner-icons .fa-check-circle:hover {
  font-size: 30px;
  color: blue;
}
/*# sourceMappingURL=styles.css.map */


/* a partir de aca agrego css a mano! */

.region{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  border: 1px solid black;
  padding: 0 30px;
  margin: 15px;
  border-radius: 5px;
  justify-content: space-between;
}
.pais{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  border: 1px solid black;
  padding: 0 30px;
  margin: 5px 15px 5px 45px;
  border-radius: 5px;
  justify-content: space-between;
}
.ciudad{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  border: 1px solid black;
  padding: 0 30px;
  margin: 5px 15px 5px 75px;
  border-radius: 5px;
  justify-content: space-between;
}